.venv/
.vs/
__pycache__/
*.pyc
*.pyo
*.log
*.tmp
*.cache

/bin/
/obj/
**/bin/
**/obj/
**/x64/

*.dll
*.exe
*.pdb

MotionRecognizer.dll
Demos/MotionRecognizeTester/*.dll
Components/MotionRecognizer/3rdParty/onnxruntime/runtimes/win-x64/native/*.dll
*.user
*.suo
*.VC.db
*.VC.opendb

packages/
**/packages/

Components/MotionRecognizer/3rdParty/libtorch/
**/3rdParty/libtorch/
Components/.env/
**/.env/

*.nupkg
*.snupkg
